body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.container{
    background-image: url("Assets/background.png");
    background-size: cover;
    width: 600px;
    height: 600px;
    margin: auto;
}
img{
  max-width: 350px;
}

.female{
  position: absolute;
  top: 30%;
  left: 50%;
  margin: 100px auto;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fade-in 3s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

.headline1{
    position: absolute;
    top: 75%;
    right: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: slide-in 3s ease-out 1s;
}
@keyframes slide-in {
    from {
      left: -50%;
      opacity: 1;
    }
    to {
      left: -50%;
      opacity: 1;
    }
  }
  .headline2 {
    position: absolute;
    top: 20%;
    right: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: slide-out 4s  ease-in-out 1s;
  }
  @keyframes slide-out {
    from {
      right: -100%;
      opacity: 1;
    }
    to {
      right: 0%;
      opacity: 1;
    }
  }
.subheadline {
  top: 30%;
  right: 50%;
  transform: translate(50%, 50%);
  opacity: 0;
  animation: fade-in 6s ease-in-out 3s;
}
@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
.learnmore {

  position: absolute;
  top: 50%;
  left: 50%;
  margin: 100px auto;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fade-in 7s ease-in-out 4s;
}

@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
.logo{
  position: absolute;
  width: 75px;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: slide-in 1s ease-out 5s;
}
@keyframes slide-in {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 60%;
    opacity: 1;
  }
}
.replay-button{
  position: absolute;
  top: 90%;
  left: 50%;
  margin: 100px auto;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fade-in 3s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}