body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.container{
    background-image: url("Assets/background.png");
    background-size: cover;
    width: 600px;
    height: 600px;
    margin: auto;
}
img{
  max-width: 400px;
}

.female{
  position: absolute;
  top: 20%;
  left: 50%;
  margin: 100px auto;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fade-in 5s ease-in-out;
}

.headline1 {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 500px;
  opacity: 0;
  transform: translateX(-100%, -50%);
  animation: slide-in 4s ease-in-out 1s;
}

.headline2 {
  position: absolute;
  top: 10%;
  left: 25%;
  opacity: 0;
  animation: slide-right 2s ease-in-out 4s;
}

@keyframes slide-right {
  from {
    opacity: 1;
    transform: translate(100px);
  }
  to {
    opacity: 1;
    transform: translate(0%);
  }
}
.subheadline{
  position: absolute;
  top: 40%;
  left: 62%;
  width: 300px;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: zoom-in 2s ease-in-out 5s;
}

@keyframes zoom-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.learnmore{
  position: absolute;
  top: 45%;
  left: 50%;
  margin: 100px auto;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fade-in 2s ease-in-out 6s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logo {
  position: absolute;
  top: 7%;
  left: 60%;
  width: 130px;
  opacity: 0;
  animation: slide-in 2s ease-in-out 5s;
}

@keyframes slide-in {
  from {
    opacity: 1;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(-50%);
  }
}
.replayButton{
  position: absolute;
  top: 55%;
  left: 50%;
  margin: 100px auto;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fade-in 2s ease-in-out 6s;
}

@keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}